/* --------------------------------------------------------
          CSS from Form
---------------------------------------------------------*/


/* Classes */

.split {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    width: 100%;
    /* height: auto; */
}

.split>.left,
.split>.right {
    flex-basis: 100%;
    max-width: 50%;
    width: 0 auto;
    margin-left: 0;
}

.split>.left+.right {
    /* space between the side-side tables */
    margin-right: 1em;
    flex-basis: 100%;
    max-width: 50%;
    min-height: 100%;
}

.container {
    position: relative;
    margin: 0.5em 0.5em;
    width: min(95%, 70rem);
    max-width: 100%;
    padding: .5em .5em;
    background-color: white;
    border-radius: 15px;
}

.note-wrapper {
    display: block;
    margin-top: 1em;
    padding-top: 2em;
    padding-bottom: 2em;
    text-align: center;
    background-color: #ffff33;
    border-radius: 24px;
}

.header-wrapper {
    background-color: #2a7189;
    padding-bottom: 1em;
    padding-top: 0;
    margin-top: 0;
}

.header {
    /* table positioning */
    background-color: #3691b0;
    text-align: center;
    margin: auto;
    font-family: 'Roboto', sans-serif;
    padding: 0.5em;
}

.w-20 {
    max-width: 20%;
}

.w-100 {
    max-width: 100%;
}

.lang {
    position: right;
    height: 40px;
    width: 80px;
    box-sizing: border-box;
    padding: 2px;
    border: 1px solid black;
    border-collapse: collapse;
    margin: 1rem 1rem;
}

.errorBox {
    background-color: red;
    font-size: large;
    margin: 1em;
}

.block {
    width: min(95%, 70rem);
    padding: 0.5em auto;
    text-align: center;
    margin: 1em;
    background-color: #2a7189;
    border-radius: 19px;
    -webkit-box-shadow: 3px 3px 8px 3px rgba(0, 0, 0, 0.84);
    box-shadow: 3px 3px 8px 3px rgba(0, 0, 0, 0.84);
}

.block>.borderless {
    border: none;
    border-bottom: 1px black;
}

.editForm {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 1.5em 1.5em;
    background-color: #2a7189;
    border-radius: 25px;
    margin: 0;
}

.alligner {
    margin: 2em 1em;
    padding: 0;
    text-align: right;
    min-width: 50%;
    max-width: 90%;
}

.padded {
    padding: 1em 1em;
    margin: 0;
}

.text-right {
    padding: 0.5em 0.5em;
    margin-right: 0;
    text-align: right;
}

.text-center {
    padding: 0.5em 0.5em;
    text-align: center;
}

.text-left {
    text-align: left;
    padding: 0.5em 0.5em;
}

.centered {
    position: relative;
    float: left;
    margin: 0 50%;
    transform: translate(-50%, 0%);
}

.right-border {
    position: relative;
    float: right;
    margin-right: 0;
    border-right: 1px solid black;
}

.left-border {
    margin-left: 0;
    border-left: 1px solid black;
}

.bttn {
    border: none;
    padding: 5px 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: white;
    color: black;
    border: 2px solid #008CBA;
}

.bg-white {
    background-color: white;
}

.editForm>p {
    border-bottom: #000;
    background-color: #000;
}


/* attributes */

form {
    display: table;
}

p {
    display: table-row;
    font-family: 'Roboto', sans-serif;
}

label {
    display: table-cell;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

input {
    display: table-cell;
}


/* label {
    text-align: left;
    min-width: 90%;
} */

section {
    padding: 0.5em 0;
}

img {
    /*  image alignment for the MS image */
    display: block;
    width: 25em;
    height: 15em;
}

h1,
h2,
h3,
h4 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    text-emphasis: bold;
    color: #000;
    /* font-weight: 400; */
}

input[type=text],
input[type=email],
input[type=date],
input[type=number],
input[type=time] {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    width: auto;
    border-bottom: 1px solid black;
}

label {
    text-align: left;
    margin-top: max(50%, 5em);
    padding: 5px 5px;
    margin: 8px 0;
}

td:hover {
    opacity: 110%;
    font-weight: 800;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}


/* ids */

#purple {
    background-color: #ce99ff;
}

#header_container {
    background-color: #3691b0;
}

#some {
    position: relative;
}

#logo,
a:focus {
    color: #000;
    cursor: pointer;
    text-decoration: none;
}


/* Media Queries */

@media (max-width: 600px) {
    .split {
        display: flex;
        flex-direction: column;
        flex-basis: 100%;
        margin: 0 auto;
    }
    .split>*+* {
        margin-left: 0;
        margin-right: 0;
        margin-top: 1em;
        flex-basis: 100%;
    }
}


/*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Roboto', sans-serif;
    background: #fafafa;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    /* padding:5px; */
    text-align: center;
    font-family: 'Roboto', sans-serif;
    text-emphasis: bold;
}

.w-100 {
    width: 100%;
}

th {
    /* background-color: #7386D5; */
    /* Title box color */
    background-color: #3691b0;
    color: black;
    /* margin: auto; */
}

td {
    background-color: white;
    color: black;
    /* margin: auto; */
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

td:nth-child(even) {
    background-color: lightgrey;
}

table td.tdclass.exempt {
    background-color: white;
}

a,
a:hover,
a:focus {
    color: inherit;
    transition: all 0.3s;
}

a:hover,
a:focus {
    color: inherit;
    text-decoration: underline;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
    color: #fff;
    background-color: #17a2b8;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    border-radius: 5%;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 4px dashed #ddd;
    margin: 40px 0;
}

i,
span {
    display: inline-block;
}

#d3-searching {
    padding: 1em;
    min-width: 50%;
    max-width: 80%;
}

.query_header {
    max-width: 90%;
    min-width: 40%;
}

.filter {
    max-width: 100%;
    min-width: 50%;
    border: 1px solid black;
}


/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #2a7189;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
}

#sidebar.active .sidebar-header h3,
#sidebar.active .CTAs {
    display: none;
}

#sidebar.active .sidebar-header strong {
    display: block;
}

#sidebar ul li a {
    text-align: left;
    color: #fff;
}

#sidebar.active ul li a {
    padding: 20px 10px;
    text-align: center;
    font-size: 0.85em;
}

#sidebar.active ul li a i h3 {
    margin-right: 0;
    display: block;
    font-size: 1.8em;
    margin-bottom: 5px;
}

#sidebar.active ul ul a {
    padding: 10px !important;
}

#sidebar.active .dropdown-toggle::after {
    top: auto;
    bottom: 10px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #2a7189;
}

#sidebar .sidebar-header strong {
    display: none;
    font-size: 1.8em;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: black;
    /* background: #fff; */
    background: #3ca1c3;
    text-decoration: none;
}

#sidebar ul li a i {
    margin-right: 10px;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #3ca1c3;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}


/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

.split {
    display: flex;
    flex-direction: row;
    margin: 1em auto;
}

.split>* {
    max-width: 70%;
    margin-left: 5em;
    margin-right: 1em;
}

.split>*+* {
    margin-left: 10em;
    margin-right: 5em;
}


/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        min-width: 80px;
        max-width: 80px;
        text-align: center;
        margin-left: -80px !important;
    }
    .dropdown-toggle::after {
        top: auto;
        bottom: 10px;
        right: 50%;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%);
    }
    #sidebar.active {
        margin-left: 0 !important;
    }
    #sidebar .sidebar-header h3,
    #sidebar .CTAs {
        display: none;
    }
    #sidebar .sidebar-header strong {
        display: block;
    }
    #sidebar ul li a {
        padding: 20px 10px;
    }
    #sidebar ul li a span {
        font-size: 0.85em;
    }
    #sidebar ul li a i {
        margin-right: 0;
        display: block;
    }
    #sidebar ul ul a {
        padding: 10px !important;
    }
    #sidebar ul li a i {
        font-size: 1.3em;
    }
    #sidebar {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}

@media (max-width: 1200px) {
    #sidebar ul li a i {
        font-size: 2em;
    }
    #sidebar {
        min-width: 80px;
        max-width: 150px;
        text-align: center;
        margin-left: -80px !important;
    }
    #sidebar ul li a span {
        font-size: 1em;
    }
    #content table th td {
        font-size: 0.8em;
    }
}